body{
    padding: 0;
    margin: 0;
    background: white;
}
.topnav{
       background: white;
       overflow: hidden;
}
.topnav a{
    float: right;
text-decoration: none;
padding: 10px;
text-align: center;
}
.toplist{
}
.toplist a {
    float: lef;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    padding: 10px;
}