body{
    padding: 0;
    margin: 0;
    background: white;
}
.topnav{
       background: white;
       overflow: hidden;
}
.topnav a{
    float: right;
text-decoration: none;
padding: 10px;
text-align: center;
}
.toplist{
}
.toplist a {
    float: lef;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    padding: 10px;
}
.area{
    text-align: center;
}
.symbol{
    margin-top: 25%;
   
}
.search{
    box-sizing: border-box;
    width: 60%;
    margin-left: 20%;
    height: 30px;
    margin-top: 10px;
    padding: 10px;



}
    